:root {
  --bg-color: #333; /* 背景色 */
  --accent-bg-color: #354; /* 背景色 */
  --text-color: #fff; /* 通常の文字色 */
  --muted-text-color: #aaa; /* 目立たない文字色 */
  --accent-color: #5fa; /* アクティブカラー */
  --border-color: #555; /* 通常の枠線色 */
}

html {
  --mixer-width: 180px;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column; /* 縦方向に要素を配置 */
}

.deck {
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.deck > *:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.deck > .channel {
  width: 100px;
  display: grid;
  place-content: center;
  font-size: 2rem;
}

.deck > .bpm-info {
  width: 100px;
  display: grid;
  place-content: center;
  text-align: center;
}

.deck > .bpm-info .bpm {
  font-size: 2rem;
}

.deck > .bpm-info .bpm-rate {
  font-size: 1rem;
}

.deck > .track-info {
  flex: 1;
  position: relative;
  overflow-x: hidden;
}

.deck > .track-info > .play-position {
  position: absolute;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--accent-bg-color) 50%,
    transparent
  );
}

.deck > .track-info > .text {
  padding-left: 10px;
}

.deck > .track-info > .text > *:empty::before {
  content: "\00a0";
}

.deck > .track-info > .text > .title {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.deck > .track-info > .text > .artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.deck > .track-info > .text > .path {
  font-size: 0.7rem;
  color: var(--muted-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.deck > .track-info > .text > .time {
  margin-top: 0.5rem;
}
